<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GharibFood</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GharibFood.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="header">
            @* <div class="name-logo">
                <a href="/Home/Index?user=@ViewBag.user" class="logo"><img src="/imagens/logo-minimizado.png" alt="logotipo do site"></a>
                <h3>GharibFood</h3>
            </div> *@

            <table class="name-logo">
                <tr>
                    <td><a href="/Home/Index?user=@ViewBag.user" class="logo"><img src="/imagens/logo-minimizado.png" alt="logotipo do site"></td>
                    <td><h1>GharibFood</h1></td>
                </tr>
            </table>
            
            <div class="caixa-de-pesquisa">
                <form action="/Home/Search?user=@ViewBag.user" method="get">
                <input type="text" id="textBusca" name="textBusca" placeholder="Buscar..."/>
                <input type="submit" id="submitHeader">
                </form>
                
                <img src="../imagens/pesquisa.png" id="img-buttonBusca" alt="Buscar"/>
            </div>
            
            @if (ViewBag.user != null)
            {
                <a href="/Home/Perfil?user=@ViewBag.User"> <h1 id="ficaBonito">@ViewBag.user</h1> </a>
            }
            else
            {
                <ul class="menu">
                <a href="/Home/Cadastro"> 
                    <li>CADASTRE-SE <img src="../imagens/icon-cadastro.png" alt="ícone de cadastro" class="icon-cadastro-login"> </li>
                </a>
                
                <a href="/Home/Login">
                    <li>LOGIN <img src="../imagens/icon-login.png" alt="ícone de login" class="icon-cadastro-login"></li>
                </a>  
            </ul>
            }
            
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - GharibFood - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
