/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0077cc;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.header{
    height: 120px;
    display: flex;
    justify-content: space-between;
    background-color: #E9B85B;
    padding: 20px;
    position: relative;
    width: 100%;
}

.caixa-de-pesquisa{
    background-color:#C4C4C4;
    border:solid 1px;
    border-radius:15px;
    width:300px;
    height: 36px;
    margin-top: 5vh;
    left: 50%;
    margin-left: -150px; /* A metade de sua largura. */
    position: absolute;
  }

#textBusca{
    float:middle;
    background-color:transparent;
    padding-left:5px;
    font-size:18px;
    border:none;
    height:25px;
    width:260px;
    position: absolute;
    margin-top: 4px;
    margin-left: 10px;
    outline: none;
  }

#img-buttonBusca{
    float: right;
    margin-top: 4px;
    margin-right: 4px;
    height: 25px;
}

.icon-cadastro-login{
    margin-left: 5px;
}

.menu{
  display: flex;
  margin: 23px;
}

.menu a{
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.menu li{
  list-style-type: none;
  padding-left: 2rem;
  display: flex;
  align-items: center;
  justify-content: center; 
}

#submitHeader{
  display: none;
}