@{
    ViewData["Title"] = "Home Page";
}


<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/GharibFood.styles.css" asp-append-version="true" />

<body>
    <div class="box">
        
        <div class="lateral-box-cad">
            
            <div class="img-box">
                <a href="/Home/Index" class="logo"><img src="../imagens/logo.png" alt="logotipo do site"></a>
            </div>
            
            <div class="acesso-login-box">
                <h2>Já tem uma conta?</h2>
                <p>Faça seu login agora</p>
            </div> 

            <form action="/Home/Login">
                <div class="input-group">

                    <div class="botao">
                        <button>Login</button>
                    </div>
                </div>
            </form>

        </div>
    
        <div class="form-box">
            <h2>Crie sua conta</h2>
            <!-- <p> Já é um membro? <a href="#"> Login </a> </p> -->
            <form action="#">
                <div class="input-group">
                    <label for="nome">Nome Completo</label>
                    <input type="text" id="nome" placeholder="Digite o seu nome completo" required>
                </div>

                <div class="input-group">
                    <label for="email">E-mail</label>
                    <input type="email" id="email" placeholder="Digite o seu email" required>
                </div>

                <div class="input-group">
                    <label for="nomeusuario">Nome de usuário</label>
                    <input type="text" id="nomeusuario" placeholder="Digite o seu nome de usuário" required>
                </div>

                <div class="input-group w50">
                    <label for="senha">Senha</label>
                    <input type="password" id="senha" placeholder="Digite sua senha" required>
                </div>

                <div class="input-group w50">
                    <label for="Confirmarsenha">Confirmar Senha</label>
                    <input type="password" id="Confirmarsenha" placeholder="Confirme a senha" required>
                </div>

                <div class="input-group">
                    <div class="botao">
                        <button>Cadastrar</button>
                    </div>
                </div>

            </form>

        </div>
    </div>
</body>