@{
    ViewData["Title"] = "Home Page";
}

@{
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/GharibFood.styles.css" asp-append-version="true" />

<body class="body-home">
        <div class="categorias">
            <div class="botao-categoria"> <a href="/Home/Salgado"><button>Salgado</button></a></div>
            <div class="botao-categoria"> <a href="#"><button>Doce</button></a></div>
        </div>

        <h1>Principais receitas</h1>

        <div class="menu-receitas">

            <a href="#">
                <div class="bloco-receita">
                    <img src="../imagens/arroznegro.jpg" alt="imagem de arroz negro à brasileira" class="img-link-receita">
                    <div class="info">
                        <p>Salgado</p>
                        <h3>Arroz negro à brasileira</h3>
                    </div>
                </div>
            </a>

            <a href="#">
                <div class="bloco-receita" id="bloco-receita-direita">
                    <img src="../imagens/tartar.jpg" alt="imagem de tartar de salmão, manga e avocado" class="img-link-receita" >
    
                    <div class="info">
                        <p>Salgado</p>
                        <h3>Tartar de salmão, manga e avocado</h3>
                    </div>
                </div>
            </a> 
            
            <a href="#">
                <div class="bloco-receita">
                    <img src="../imagens/torta-abobora-nozes.png" alt="imagem de torta de abóbora de noz e pecã" class="img-link-receita">
                    <div class="info">
                        <p>Doce</p>
                        <h3>Torta de abóbora de noz e pecã</h3>
                    </div>
                </div>
            </a>

            <a href="#">
                <div class="bloco-receita" id="bloco-receita-direita">
                    <img src="../imagens/dakos.png" alt="imagem de dakos" class="img-link-receita">
    
                    <div class="info">
                        <p>Salgado</p>
                        <h3>Dakos</h3>
                    </div>
                </div>
            </a>
            
        </div>
    </body>