@{
    ViewData["Title"] = "Login";
}

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/GharibFood.styles.css" asp-append-version="true" />

<body>
    <div class="body-login">
        <div class="box-log">
        <div class="lateral-box-log">
            <div class="img-box-log">
                <a href="/Home/Index" class="logo"><img src="../imagens/logo.png" alt="logotipo do site"></a>
            </div>
            <div class="acesso-login-box">
                <h2>Não tem uma conta?</h2>
                <p>Crie uma agora, é rápido!</p>
            </div>
            <form action="/Home/Cadastro">
                <div class="input-group">

                    <div class="botao-cadastro-log">
                        <button>Cadastrar</button>
                    </div>

                </div>
            </form>
        </div>
        <div class="form-box">
            <h2>Login</h2>
            <form action="/Home/LoginResultado">

                <div class="input-group">
                    <label for="email">E-mail</label>
                    <input type="email" id="email" name="email" placeholder="Digite o seu email" required>
                </div>

                <div class="input-group w50">
                    <label for="senha">Senha</label>
                    <input type="password" id="senha" name="senha" placeholder="Digite sua senha" required>
                </div>

                <div class="input-group">
                    <div class="botao">
                        <button>Entrar</button>
                    </div>
    </div>

            </form>
        </div>
    </div>
    </div>
</body>