@model GharibFood.Models.Usuario

@{
    ViewData["Title"] = "Home";
    Layout = "_Layout";
}


<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/GharibFood.styles.css" asp-append-version="true" />

<body>
    <div class="body-perfil">
        <div class="wrapper">
            <div class="left">
                <img src="../imagens/perfil.png" alt="user" width="100">
                <h3>Perfil</h3>
                
                <div class="info">
                    <br>
                    <br>
                    <h3></h3>
                    <h3>Informações</h3>
                    <div class="info_data">
                        <div class="data">
                            <h4>Email</h4>
                            <p>@ViewBag.email</p>
                        </div>

                        <div class="data">
                        <h4>Nome</h4>
                            <p>@ViewBag.nome</p>
                        </div>

                        <div class="data">
                            <h4>Nome de usuário</h4>
                            <p>@ViewBag.user</p>
                        </div>
                        
                    </div>
                    <div class="botao">
                    <a href="/Home/Index"><h4>Deslogar</h4></a>
                </div>
                </div>
            </div>
            <div class="right">
            
                <div class="projects">
                    <h3>Receitas salvas</h3>
                </div>
                
                @* <h4>Nenhuma receita salva</h4> *@
                <div class="social_media">
                    
                        <a href="#"><div class="receita"><h1> TESTE </h1></div></a>

                        <a href="#"><div class="receita"><h1> TESTE </h1></div></a>

                        <a href="#"><div class="receita"><h1> TESTE </h1></div></a>

                        <a href="#"><div class="receita"><h1> TESTE </h1></div></a>

                        <a href="#"><div class="receita"><h1> TESTE </h1></div></a>

                        <a href="#"><div class="receita"><h1> TESTE </h1></div></a>

                        <a href="#"><div class="receita"><h1> TESTE </h1></div></a>

                        <a href="#"><div class="receita"><h1> TESTE </h1></div></a>
                         
                </div> 
                

                 
            </div>
        </div>
    </div>
</body>