@model GharibFood.Models.Usuario

@{
    ViewData["Title"] = "Home";
    Layout = "_Layout";
}


<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/GharibFood.styles.css" asp-append-version="true" />

<body>
    <div class="body-perfil">
        <div class="wrapper">
            <div class="left">
                <img src="../imagens/perfil.png" alt="user" width="100">
                <h3>Perfil</h3>
                
                <div class="info">
                    <br>
                    <br>
                    <h3></h3>
                    <h3>Informações</h3>
                    <div class="info_data">
                        <div class="data">
                            <h4>Email</h4>
                            <p>@Model.Email</p>
                        </div>

                        <div class="data">
                        <h4>Nome</h4>
                            <p>@Model.Nome</p>
                        </div>

                        <div class="data">
                            <h4>Nome de usuário</h4>
                            <p>@Model.Id</p>
                        </div>
                        
                    </div>
                    <div class="botao">
                    <a href="/Home/Index"><h4>Deslogar</h4></a>
                </div>
            </div>
        </div>
            
        <div class="right">
            <div class="projects">
                <h3>Receitas salvas</h3>

                <div class="social_media">
                    <a href="/Home/Index">
                        <div class="bloco-receita-salva">
                            <img src="../imagens/arroznegro.jpg" alt=imagem class="img-link-receita-salva">
                            <div class="info-receita-salva">
                                <p>Salgado</p>
                                <h4>Arroz negro a brasileira</h4>
                            </div>
                        </div>
                    </a>

                    <a href="/Home/Index">
                        <div class="bloco-receita-salva">
                            <img src="../imagens/tartar.jpg" alt=imagem class="img-link-receita-salva">
                            <div class="info-receita-salva">
                                <p>Salgado</p>
                                <h4>Tartar de salmão, manga e avocado</h4>
                            </div>
                        </div>
                    </a>

                    <a href="/Home/Index">
                        <div class="bloco-receita-salva">
                            <img src="../imagens/torta-abobora-nozes.png" alt=imagem class="img-link-receita-salva">
                            <div class="info-receita-salva">
                                <p>Doce</p>
                                <h4>Torta de abóbora, nozes e pecã</h4>
                            </div>
                        </div>
                    </a>

                    <a href="/Home/Index">
                        <div class="bloco-receita-salva">
                            <img src="../imagens/dakos.png" alt=imagem class="img-link-receita-salva">
                            <div class="info-receita-salva">
                                <p>Salgado</p>
                                <h4>Dakos</h4>
                            </div>
                        </div>
                    </a>
                </div>
            
            </div>

                
                
                @* <h4>Nenhuma receita salva</h4> *@
                <div class="social_media">

                    @foreach (var receita in ViewBag.receitasFavs)
                    {
                        <a href="/Home/Receita?id=@receita.Id&user=@ViewBag.user"><div class="receita"><h1> @receita.Nome </h1>
                        @* <img src=@receita.Imagem alt=@receita.Text_alt class="img-link-receita"> *@
                        </div></a>
                    }
                         
                </div> 
                 
            </div>
        </div>
    </div>
</body>