
.body-perfil{
    background-color: #f3f3f3;
 }
 
.info{
    width: 35%;
}
.botao a{
  color: black;
  text-decoration: none;
}

.botao{
  width: 300px;
  background-color: #E9B85B;
  border-radius: 20px;
  border: 2px solid black;
  text-align: center;
  transition: all 0.4s ease;
  margin: 0 auto;
  font-size: 18px;
}

.botao:hover{
  background-color: #ca9f51;
  border: 2px solid transparent;
}

.wrapper{
    width: 90%;
    height: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    box-shadow: 0 1px 20px 0 rgba(69,90,100,.08);
  }
  
  .wrapper .left{
    width: 35%;
    background: #E9B85B;
    padding: 30px 25px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    color: #fff;
  }
  
  .wrapper .left img{
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .wrapper .left h4{
    margin-bottom: 10px;
  }
  
  .wrapper .left p{
    font-size: 12px;
  }
  
  .wrapper .right{
    width: 65%;
    background: #fff;
    padding: 30px 25px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: auto;
  }
  
  .wrapper .left .info,
  .wrapper .right .projects{
    margin-bottom: 25px;
  }
  
  .wrapper .left .info h3,
  .wrapper .right .projects h3{
      margin-bottom: 15px;
      padding-bottom: 5px;
      border-bottom: 1px solid #e0e0e0;
      color: #353c4e;
    text-transform: uppercase;
    letter-spacing: 5px;
  }
  
  .wrapper .left .info_data,
  .wrapper .right .projects_data{
    display: flex;
    justify-content: space-between;
  }
  
  .wrapper .left .info_data .data,
  .wrapper .right .projects_data .data{
    width: 45%;
  }
  
  .wrapper .left .info_data .data h4,
  .wrapper .right .projects_data .data h4{
      color: #353c4e;
      margin-bottom: 5px;
  }
  
  .wrapper .left .info_data .data p,
  .wrapper .right .projects_data .data p{
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .social_media{
    display: grid;
    grid-template-columns: 300px 300px;
    grid-gap: 2vh;
    place-items: center;
    display: flexbox;
    justify-content: center;
  }

  .bloco-receita-salva{
    margin-top: 1vh;
    text-align: center;
    width: 280px;
    height: 250px;
    background-color: #E9B85B;
    position: relative;
    border-radius: 15px;
    display: inline-block;
}

.img-link-receita-salva{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 10px;
  width: 80%;
  min-height: 150px;
  max-height: 150px;
  max-width: 150px;
  min-width: 200px;
}

.info-receita-salva{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 16px;
}

/* .wrapper .social_media ul li{
  width: 200px;
  height: 200px;
  background: black;
  margin-right: 10px;
  border-radius: 5px;
  text-align: center;
  line-height: 45px;
  list-style-type: none;
}

.wrapper .social_media ul li a{
  color :#fff;
  display: block;
  font-size: 18px;
}

.wrapper .social_media ul{
  display: flex;
} */