@{
    ViewData["Title"] = "Sobre Nos";
}

@{
    Layout = "_Layout";
}

<body>
    <section>
        <div>
            <h2>Sobre nós</h2>
            <p>Acreditamos que estudar e conhecer outras culinárias é também um estudo cultural, que é muito importante para a formação do ser humano socialmente e amplia o respeito às diferenças. Dessa forma, o site GharibFood vem para aproximar o usuário a pratos não tão conhecidos ao paladar brasileiro, trazendo receitas de várias partes do mundo.</p>
            <p>Durante a pré-história o ser humano descobriu novos meios de se alimentar, parando de consumir alimentos crus para criar pratos mais elaborados e saborosos. Daí surge a culinária, mas ela não se desenvolveu da mesma forma pelo mundo. Cada cultura passa a criar pratos específicos com os ingredientes que lhes são disponibilizados, criando assim uma infinidade de pratos diferentes e com sabores diversos. Assim, um prato culinário traz muito mais do que o sabor, pois carrega consigo também toda a história cultural de um povo. Cada refeição carrega uma perspectiva diferente do mundo, cada alimento ingerido é capaz de levar quem o prova a ter mais empatia e compreender melhor outros modos de viver. </p>
        </div>
        <div-1></div-1>
    </section>
</body>
