@{
    ViewData["Title"] = "Receita";
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/GharibFood.styles.css" asp-append-version="true" />

<body>
    <div class="body-receita">
        <div class="box-ini">
            <div class="video">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/diKgUdmj0m8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</body>