@{
    ViewData["Title"] = "Receita";
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/GharibFood.styles.css" asp-append-version="true" />

<body>
    <div class="body-receita">
        <div class="box-ini" id="primeira-box-ini">
            <h1>Arroz negro à brasileira</h1>
            <div class="video">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/diKgUdmj0m8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

            <table>
                <tr>
                    <td><img src="../imagens/relogio.png" alt="imagem de um temporizador"></td>
                    <td><img src="../imagens/rendimento.png" alt="imagem ilustrativa rendimento"></td>
                    <td><img src="../imagens/favorito.png" alt="imagem de um coração"></td>
                    <td><img src="../imagens/comentarios.png" alt="imagem ilustrativa de comentários"></td>
                    <td><img src="../imagens/avaliacao.png" alt="imagem ilustrativa de avaliação em 5 estrelas"></td>
                </tr>

                <tr>
                    <td>Preparo</td>
                    <td>Rendimento</td>
                    <td>Favoritos</td>
                    <td>Comentários</td>
                    <td rowspan="2">Avalie essa receita</td>
                </tr>

                <tr id="info-receita">
                    <td>10 min</td>
                    <td>2 porções</td>
                    <td>0</td>
                    <td>0</td>                  
                </tr>

            </table>
        </div>
    
        <div class="box-ini">
            <div>
                <h3>CURIOSIDADES</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate eveniet corporis, nesciunt debitis, sit, ut tempore fuga accusamus repellendus iure dolor similique. Praesentium dicta accusantium magni, voluptatibus nostrum blanditiis maiores!</p>
            </div>
        </div>

        <div class="box-ini">
            <div>
                <h3>INGREDIENTES</h3>
                <ul>
                    <li>Lorem ipsum dolor sit.</li>
                    <li>Lorem ipsum dolor sit.</li>
                    <li>Lorem ipsum dolor sit.</li>
                    <li>Lorem ipsum dolor sit.</li>
                </ul>
            </div>
        </div>

        <div class="box-ini">
            <div id="modo-de-preparo">
                <h3>MODO DE PREPARO</h3>

                <ol>
                    <li>Em uma chaleira coloque para ferver 3 xícaras de chá de água.</li>

                    <li>Enquanto isso, em uma panela média, coloque 1 colher de sopa de azeite e em seguida acrescente 2 dente de alho descascado e amassado no amassador de alho.</li>

                    <li> Deixe alourar por 1 minuto e em seguida coloque 1 xícara de chá de arroz preto.</li>
                    
                    <li> Junte 1 ou 2 folhas de louro e tempere com sal a gosto. Usei sal grosso, pois o sal grosso mantém todos os minerais importantes para nossa saúde. Assista  aqui o depoimento do Dr Pablo LLompart, falando sobre o assunto.</li>

                    <li> Coloque 3 xícaras de chá de água fervente. Panela semi tampada e em fogo baixo  deixe cozinhar por 50 minutos ou até que os grãos estejam cozidos e macios. Você decide o ponto. Gosto dos grãos mais ‘al dente’, mas se prefere mais macio, só acrescentar um pouquinhos mais de água e deixar mais tempo cozinhando. Ao gosto do chef da casa, você!😉</li>
                </ol>
            </div>
        </div>
    </div>
</body>