.body-receita{
    background-color: #E5E5E5;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: auto;
    grid-gap: 5vh;
    display: flexbox;
    place-items: center;
}

h1{
    text-align: center;
    margin: 35px;
}

.box-ini{
    width: 80%;
    background-color: #FFFFFF;
    padding: 60px;
    border-radius: 10px;
    box-shadow: 2px 4px 8px 2px grey;
    text-align: justify;
}

#primeira-box-ini{
    margin-top: 7vh;
}

h3{
    color: rgb(208, 132, 102);
    margin: 2vh;
}

.video iframe{
    display: flex;
    margin: 0 auto;
}

.box-etc{
    display: flex;
    background-color: #E5E5E5;
    padding: 80px;
    border-radius: 10px;
    min-width: 100px;
    max-width: 80px;
    margin: auto;
    box-shadow: 2px 4px 8px 2px grey;
}

.info-receita{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    border-radius: 26px;
    overflow:hidden;
    border-collapse:separate;
    background-color: #E5E5E5;
    margin: 10vh;
    border: solid 2px #afaeae;
}

td{
    width: 170px;
    padding: 10px;
}

/* style do curtir */
button {
    border: none;
    cursor: pointer;
    background-color: transparent;
}

button.curtir img {
    animation: transitionLike 0.8s ease-in;
}

@keyframes transitionLike {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}

/* style do curtir */

/* style do avaliar */

.avaliacao{
    display: flex;
   }
  .star-icon{
    list-style-type: none;
    cursor: pointer;
    color: #ffe500;
    font-size: 40px;
  }
  .star-icon::before{
    content: "\2605";
  }
  .star-icon.ativo ~ .star-icon::before{
    content: "\2606";
  }
  .avaliacao:hover .star-icon::before{
    content: "\2605";
  }
  .star-icon:hover ~ .star-icon::before{
    content: "\2606";
  }

#info-receita{
    color: rgb(209, 133, 103);
}

/* style do avaliar */

/* página para comentar */

.box-ini-comentar{
    background-color: #FFFFFF;
    padding: 60px;
    border-radius: 10px;
    box-shadow: 2px 4px 8px 2px grey;
    text-align: center;
}

label{
    text-align: center;
    margin: 35px;
    font-weight: bold;
    font-size: 18px;
}

button:hover {
    opacity: 1;
}

#fade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5;
}

#modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 550px;
    max-width: 90%;
    background-color: rgb(209, 133, 103);
    padding: 1.2rem;
    border-radius: 0.5rem;
    z-index: 10;
}

#fade,
#modal {
    transition: 0.5s;
    opacity: 1;
    pointer-events: all;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

.modal-body p {
    margin-bottom: 1rem;
}

#modal.hide,
#fade.hide {
    opacity: 0;
    pointer-events: none;
}

#modal.hide {
    top: 0;
}

textarea{
    resize: none;
    border-radius: 10px;
    border: 1px solid;
    padding: 10px;
}

input{
    width: 100px;
    background-color: transparent;
    border: 2px solid black;
    text-align: center;
    transition: all 0.4s ease;
    margin: 0 auto;
    font-size: 14px;
    cursor: pointer;
    border-radius: 10px;
}

#close-modal{
    color: rgb(244, 85, 85);
    transition: all 0.4s ease;
}

input:hover{
    background-color: #E9B85B;
    border: 2px solid transparent;
  }

 #close-modal:hover{
    font-weight: bold;
  }
/* página para comentar */

/* página modal avaliar */

.box-ini-avaliar{
    background-color: #FFFFFF;
    padding: 60px;
    border-radius: 10px;
    box-shadow: 2px 4px 8px 2px grey;
    text-align: center;
}

#fade-avaliar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5;
}

#modal-avaliar  {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 550px;
    max-width: 90%;
    background-color: rgb(209, 133, 103);
    padding: 1.2rem;
    border-radius: 0.5rem;
    z-index: 10;
}

#fade-avaliar ,
#modal-avaliar  {
    transition: 0.5s;
    opacity: 1;
    pointer-events: all;
}

.modal-header-avaliar  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

.modal-avaliar-body p {
    margin-bottom: 1rem;
}

#modal-avaliar.hide,
#fade-avaliar.hide {
    opacity: 0;
    pointer-events: none;
}

#modal-avaliar.hide {
    top: 0;
}

#close-modal-avaliar {
    color: rgb(244, 85, 85);
    transition: all 0.4s ease;
}

 #close-modal-avaliar:hover{
    font-weight: bold;
  }
/* página modal avaliar */


.comentarios{
    width: auto;
    height: auto;
    background-color: rgb(209, 133, 103);
    color: black;
    padding: 40px;
    border-radius: 10px;
    text-align: justify;
    vertical-align: middle;
    text-decoration: none;
    margin-bottom: 20px;
}

.info-usuario td{
    width: auto;
    padding: 10px;
    color: white;
}