.body-receita{
    background-color: #E5E5E5;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: auto;
    grid-gap: 5vh;
    display: flexbox;
    place-items: center;
}

h1{
    text-align: center;
    margin: 35px;
}

.box-ini{
    width: 80%;
    background-color: #FFFFFF;
    padding: 60px;
    border-radius: 10px;
    box-shadow: 2px 4px 8px 2px grey;
    text-align: justify;
}

#primeira-box-ini{
    margin-top: 7vh;
}

h3{
    color: rgb(208, 132, 102);
    margin: 2vh;
}

.video iframe{
    display: flex;
    margin: 0 auto;
}

.box-etc{
    display: flex;
    background-color: #E5E5E5;
    padding: 80px;
    border-radius: 10px;
    min-width: 100px;
    max-width: 80px;
    margin: auto;
    box-shadow: 2px 4px 8px 2px grey;
}

.info-receita{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    border-radius: 26px;
    overflow:hidden;
    border-collapse:separate;
    background-color: #E5E5E5;
    margin: 10vh;
    border: solid 2px #afaeae;
}

td{
    width: 170px;
}

#info-receita{
    color: rgb(209, 133, 103);
}

.comentarios{
    width: auto;
    height: auto;
    background-color: rgb(209, 133, 103);
    color: black;
    padding: 40px;
    border-radius: 10px;
    text-align: justify;
    vertical-align: middle;
    text-decoration: none;
    margin-bottom: 20px;
}

.info-usuario td{
    width: auto;
    padding: 10px;
    color: white;
}